
ul {
  list-style-type: none;
  left: 0px;
  font: 16px;
  color: #5c5c5c;
  line-height: 28px;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 

 
li {
  padding: 0px;
  display: list-item;
  margin: 0 0 8px 0;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}